{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Đăng Ký Đặt Sân Cầu Lông</title>
    <link rel="stylesheet" href="{% static 'home/css/booking.css' %}">
</head>

<body>
    <div class="page-wrapper bg-gra-01 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Đăng Ký Đặt Sân Cầu Lông</h2>
                </div>
                <div class="card-body">
                    <form id="bookingForm" method="POST">
                        <div class="form-group">
                            <a href="home/fixedBooking.html" class="btn">Đặt lịch cố định</a>
                            <a href="{% url 'dailyBooking' court.maCourt %}" class="btn">Đặt lịch theo ngày</a>
                            <a href="home/flexibleBooking.html" class="btn">Đặt lịch linh hoạt</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->