{% load humanize %}
<table class="table">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Email</th>
            <th>Ngày Công</th>
            <th>Lương (VNĐ)</th>
            <th>Chấm Công</th>
        </tr>
    </thead>
    <tbody id="payroll-list">
        {% for staff in staff_list %}
        <tr>
            <td>{{ staff.name }}</td>
            <td>{{ staff.email }}</td>
            <td>{{ staff.days_worked }}</td>
            <td>{{ staff.total_salary|intcomma }} VNĐ</td>
            <td>
                <form method="post" action="{% url 'chamCong' %}">
                    {% csrf_token %}
                    <input type="hidden" name="staff_id" value="{{ staff.id }}">
                    <button type="submit" class="btn btn-primary">Chấm Công</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>