{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng Ký Đặt Sân Cầu Lông</title>
    <link rel="stylesheet" href="{% static 'home/css/booking.css' %}">
</head>

<body>
    <div class="page-wrapper bg-gra-01 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Đăng Ký Đặt Sân Cầu Lông</h2>
                </div>
                <div class="card-body">
                    <form id="bookingForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="playDate">Ngày, tháng, năm:</label>
                            <input type="date" id="playDate" name="playDate" required> 
                            
                            <label for="san">Sân:</label>
                            <select id="san" name="san" onchange="updateTimeSlots()">
                                <option value="">Chọn sân</option>
                                {% for san in sans %}
                                    <option value="{{ san.maSan }}">{{ san.numSan }}</option>
                                {% endfor %}
                            </select> 

                            <label for="timeSlot">Thời gian:</label>
                            <select id="timeSlot" name="timeSlot">
                                <option value="">Chọn thời gian</option>
                                {% for timeslot in timeslots %}
                                    <option value="{{ timeslot.timeslot }}" data-san="{{ timeslot.san.maSan }}">{{ timeslot.timeslot }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="button-container">
                            <a href="booking.html" class="btn btn-left">Quay lui</a>
                            <button type="submit" class="btn btn-right">Đặt sân</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'home/js/booking.js' %}"></script>
</body>

</html>