
{% extends "master_page.html" %}
{% load static %}

{%block navbar%}
    {%include '../navbar.html' %}
{%endblock%}

{%block footer%}
    {%include '../footer.html' %}
{%endblock%}

{%block content%}
<section class="bg-light">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 text-center">
            <h4 class="mb-4">Bạn có chắc chắn muốn hủy sân?</h4>
            <div class="d-flex justify-content-center">
                <a href="{% url 'his'%}" class="btn btn-secondary me-3">Quay về</a>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Xác nhận hủy</button>
                </form>
            </div>
        </div>
    </div>
</section>
{%endblock%}