{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng Ký Đặt Sân Cầu Lông</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'home/css/booking.css' %}">
    <style>    
    </style>
</head>

<body>
    <div class="page-wrapper bg-gra-01 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Đăng Ký Đặt Sân Cầu Lông</h2>
                </div>
                <div class="card-body">
                    <form id="bookingForm" method="POST">
                        <div class="d-grid gap-3">
                            <a href="{%url 'themgio' court.maCourt tp%}"><button type="button" class="btn btn-custom">Thêm giờ</button></a>
                            <a href="{%url 'themlich' court.maCourt tp%}"><button type="button" class="btn btn-custom">Thêm lịch</button></a>
                        </div>

                        <div class="button-container mt-3">
                            <a href="{%url 'booking' court.maCourt%}"><button type="button" class="a.btn-left">Quay về</button></a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>