<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Đăng Ký Đặt Sân Cầu Lông</title>
    <link rel="stylesheet" href="booking.css">
</head>

<body>
    <div class="page-wrapper bg-gra-01 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Đăng Ký Đặt Sân Cầu Lông</h2>
                </div>
                <div class="card-body">
                    <form id="bookingForm" method="POST">
                        <div id="hourType" class="hidden">
                            <label for="addHour">Thêm giờ:</label>
                            <input type="number" id="addHour" name="addHour" required> 
                        </div>

                        <div class="button-container">
                            <a href="flexibleBooking.html" class="btn btn-left">Quay lui</a>
                            <a href="hourType.html" class="btn btn-right">Đặt sân</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>