{%load static%}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{%static 'home/img/sancaulong.jpg' %}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">GIỚI THIỆU VỀ CHÚNG TÔI</h1>
                <p class="mb-4">Badminton Booking Master tự hào là một trong những nền tảng đặt sân cầu lông trực tuyến tốt nhất
                    tại Việt Nam. Chúng tôi không ngừng cải tiến để mang lại trải nghiệm tốt nhất dành cho người chơi, từ
                    việc đặt sân dễ dàng, chính sách minh bạch, đến dịch vụ chăm sóc khách hàng tận tâm. </p>
                <p><i class="fa fa-check text-primary me-3"></i>Phục vụ hàng chục khách hàng với sự tin tưởng cao. </p>
                <p><i class="fa fa-check text-primary me-3"></i>Cam kết mang đến sự hài lòng tuyệt đối.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Kết nối cộng đồng người chơi rộng khắp.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Không ngừng nâng cao chất lượng với nhiều năm kinh nghiệm.</p>
            </div>
        </div>
    </div>
</div>