<div id="page-content-wrapper" class="container-fluid main-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded shadow-sm p-3 mb-4"style="width: 80%;margin: 0 auto">
        <button class="btn btn-primary" id="menu-toggle">☰</button>
        <div class="dropdown ms-auto text-end">
            <span class="dropdown-toggle" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
                Xin chào, Admin
            </span>
            <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="adminDropdown">
                <li><a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Cài đặt</a></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-question-circle"></i> Trợ giúp & Hỗ trợ</a></li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-comment-alt"></i> Đóng góp ý kiến</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
            </ul>
        </div>
    </nav>