
<div class="sidebar-wrapper">
    <div class="sidebar-heading">
        <a href="{% url 'role' %}">BBM Quản Lý</a>
    </div>
    <div class="list-group list-group-flush">
        <div class="list-group-item" onclick="this.classList.toggle('active')">
            <i class="fas fa-basketball-ball"></i> Sân Cầu Lông
            <div class="submenu">
                <a href="#" class="text-white d-block" onclick="loadPage('add-court.html')">Thêm Sân</a>
                <a href="#" class="text-white d-block" onclick="loadPage('manage-court.html')">Quản Lý Sân</a>
            </div>
        </div>
        <div class="list-group-item" onclick="this.classList.toggle('active')">
            <i class="fas fa-calendar"></i> Đặt Sân
            <div class="submenu">
                <a href="#" class="text-white d-block" onclick="loadPage('time-slot.html')">Đặt Khung Giờ</a>
                <a href="#" class="text-white d-block" onclick="loadPage('pricing.html')">Cài Đặt Giá</a>
                <a href="#" class="text-white d-block" onclick="loadPage('policy.html')">Chính Sách</a>
            </div>
        </div>
        <div class="list-group-item" onclick="this.classList.toggle('active')">
            <i class="fas fa-user"></i> Nhân Viên
            <div class="submenu">
                <a href="#" class="text-white d-block" onclick="loadPage('approve-staff.html')">Xét Duyệt</a>
                <a href="#" class="text-white d-block" onclick="loadPage('manage-staff.html')">Danh Sách</a>
                <a href="#" class="text-white d-block" onclick="loadPage('pay-roll.html')">Chấm Công</a>
            </div>
        </div>
        <div class="list-group-item" onclick="this.classList.toggle('active')">
            <i class="fas fa-trophy"></i> Lịch Thi Đấu
            <div class="submenu">
                <a href="{% url 'confirm' %}" class="text-white d-block" >Quản lý lịch đặt sân</a>
            </div>
        </div>
        <div class="list-group-item" onclick="this.classList.toggle('active')">
            <i class="fas fa-chart-bar"></i> Doanh Thu
            <div class="submenu">
                <a href="#" class="text-white d-block" onclick="loadPage('report.html')">Thống Kê</a>
                <a href="#" class="text-white d-block" onclick="loadPage('payment.html')">Thanh Toán</a>
            </div>
        </div>
        <div class="list-group-item" onclick="this.classList.toggle('active')">
            <i class="fas fa-gift"></i> Khuyến Mãi
            <div class="submenu">
                <a href="{% url 'voucher' %}" class="text-white d-block" >Thêm Khuyến Mãi</a>
                <a href="{% url 'vip' %}" class="text-white d-block" >Mã Khuyến Mãi</a>
            </div>
        </div>
    </div>
</div> 