{% extends "master.html" %}

{% load static %}

{%block sidebar%}
 {% include '../sidebar.html'%}
{%endblock%}

{%block search%}
    {% include '../search.html'%}
{%endblock%}

{%block content%}
<div class="container mt-4" style="width:60%;margin: 0 auto ;">
    <h2 class="mb-4">Danh Sách Khuyến Mãi</h2>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Mã Khuyến Mãi</th>
                <th>Court</th>
                <th>Giảm Giá (%)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for ma in danh_sach_vip %}
                <th> {{forloop.counter}}</th>
                <th>{{ma.voucher}}</th>
                <th> {{ma.court}}</th>
                <th>{{ma.percent}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endblock%}

{%block foot%}
    {% include '../foot.html'%}
{%endblock%}
    